<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
          <a href="#0" class="cd-nav-trigger"><span></span></a>
    </nav>

  </div>

    <nav class="cd-side-nav">
      <h1 class="page-heading">Recent Builds</h1>

      <ul class="post-list">
        {% for opost in site.posts %}
          <li>
            <span class="post-meta">{{ opost.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ opost.url | prepend: site.baseurl }}">{{ opost.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </nav>

</header>
